// :host {
//   --tui-chart-categorical-00: #8b008b; // Темно-пурпурный
//   --tui-chart-categorical-01: #ff69b4; // Розовато-лавандовый
//   --tui-chart-categorical-02: #00ffff; //Бирюзовый
//   --tui-chart-categorical-03: #9932cc; //Фиолетовый
//   --tui-chart-categorical-04: #ffa500; // Оранжевый
//   --tui-chart-categorical-05: #8fbc8f; //Серо-зеленый
//   --tui-chart-categorical-06: #ff00ff; //Фуксия
//   --tui-chart-categorical-07: #ff6347; //Красно-оранжевый
//   --tui-chart-categorical-08: #00ff00; //Ярко-зеленый
//   --tui-chart-categorical-09: #f0e68c; //Желтовато-бежевый
// }

:host {
  --tui-chart-categorical-00: #b7c0ee; //светло-лиловый
  --tui-chart-categorical-01: #f6c4d2; //светло-розовый
  --tui-chart-categorical-02: #79b4a9; //зеленый тюркоаз
  --tui-chart-categorical-03: #e6b6d8; //фуксия
  --tui-chart-categorical-04: #fdfd96; //светло-желтый
  --tui-chart-categorical-05: #ff69b4; // Розовато-лавандовый
  --tui-chart-categorical-06: #f5d0a9; //персиковый
  --tui-chart-categorical-07: #c2b280; //золотисто-коричневый
  --tui-chart-categorical-08: #8b008b; // Темно-пурпурный
  --tui-chart-categorical-09: #f7e7ce; //светло-коричневый
}

.calendars {
  display: flex;
  justify-content: space-around;
}

.charts {
  display: flex;
  justify-content: space-around;

  &__chart {
    display: flex;
    align-items: center;

    &_legend {
      display: flex;
      flex-wrap: wrap;
      width: 300px;
      margin: 0 0 0 2rem;

      &-item {
        margin: 0 0.5rem 0.75rem 0;
      }
    }
  }
}

.axes {
  height: 400px;
}
