@for (day of days; track day) {
  <div>
    <tui-accordion class="days">
      <tui-accordion-item [open]="isCurrentDay(day.day)">
        <div class="days__header">
          <div>
            {{ getDayInfo(day.date).dayName }} {{ getDayInfo(day.date).dayNumber }} число
          </div>

          <div>
            <b>потрачено за день:</b>

            @if (sharedService.currency$.value === 'Тенге') {
              <span>
                тенге - {{ day.totalPriceDay | isShowPrice }} &#8376;
              </span>
            }

            @if (sharedService.currency$.value === 'Рубль') {
              <span>
                рублей - {{ sharedService.convertToRub(day.totalPriceDay) | isShowPrice }} &#8381;
              </span>
            }
          </div>
        </div>

        <ng-template tuiAccordionItemContent>

          <div class="days__accordion">
            @for (item of day?.items; track item) {
              <tui-accordion class="days__accordion_item">
                <tui-accordion-item>
                  <div>
                    {{ item.name }}
                  </div>

                  <ng-template tuiAccordionItemContent>
                    <div class="days__accordion_item-content">
                      <div>
                        Наименование: {{ item.name }}
                      </div>
                      <div>
                        Категория: {{ item.category }}
                      </div>
                      <div>
                        Цена в Тенге: {{ item.priceT | isShowPrice }} &#8376;
                      </div>
                      <div>
                        Цена в Рублях: {{ item.priceRu | isShowPrice }} &#8381;
                      </div>

                      <div>
                        <button type="button" (click)="openDialogDelete(item)">Удалить</button>
                      </div>
                    </div>
                  </ng-template>

                </tui-accordion-item>
              </tui-accordion>
            }
          </div>

          <div class="days__table">
            <table tuiTable [columns]="columns">
              <thead>
                <tr tuiThGroup>
                  <th *tuiHead="'name'" tuiTh [resizable]="true" [sticky]="true" [sorter]="null">
                    Наименование
                  </th>
                  <th *tuiHead="'category'" tuiTh [sticky]="true" [sorter]="null">
                    Категория
                  </th>
                  <th *tuiHead="'priceT'" tuiTh [sticky]="true" [sorter]="null">
                    Цена в Тенге
                  </th>
                  <th *tuiHead="'priceRu'" tuiTh [sticky]="true" [sorter]="null">
                    Цена в Рублях
                  </th>
                  <th *tuiHead="'other'" tuiTh [sticky]="true" [sorter]="null">
                  </th>
                </tr>
              </thead>

              <tbody tuiTbody [data]="day.items">
                @for (item of day.items; track item; let i = $index) {
                  <tr tuiTr>
                    <td *tuiCell="'name'" tuiTd>
                      {{ item.name }}
                    </td>
                    <td *tuiCell="'category'" tuiTd>
                      {{ item.category }}
                    </td>
                    <td *tuiCell="'priceT'" tuiTd>
                      {{ item.priceT | isShowPrice }} &#8376;
                    </td>
                    <td *tuiCell="'priceRu'" tuiTd>
                      {{ item.priceRu | isShowPrice }} &#8381;
                    </td>
                    <td *tuiCell="'other'" tuiTd>
                      <button type="button" (click)="openDialogDelete(item)">Удалить</button>

                      <ng-template #template [(tuiDialog)]="open" [tuiDialogOptions]="{label: 'Вы действительно хотите удалить ?', size: 's'}">
                        <div class="dialog">
                          <div class="dialog__btns">
                            <button tuiButton type="button" appearance="outline" size="m" (click)="closeDialogDelete()">
                              Нет
                            </button>

                            <tui-loader class="loader" [showLoader]="(isLoading$ | async)!" [inheritColor]="true" [overlay]="true">
                              <button tuiButton type="button" appearance="accent" size="m" (click)="deleteItem(day.id!, day.day!, item.id!)">
                                Да
                              </button>
                            </tui-loader>
                          </div>
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>

        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
}
