<nav class="nav">
  <div class="nav-item" (click)="showDialog()">Добавить</div>

  <div class="nav-item" [routerLink]="['/list/actual']">Сегодня</div>

  <div class="nav-item" [routerLink]="['/list']">Список</div>

  <div class="nav-item" [routerLink]="['/list/search']">Поиск</div>

  <div class="nav-item" [routerLink]="['/chart']">Диаграмма</div>

  <app-budget-calculator></app-budget-calculator>

  @if (authService.isAuthenticated()) {
    <div
      class="nav-item"
      [routerLink]="['/auth']"
      (click)="authService.logout()">
      Выйти
    </div>
  }
</nav>
