<div class="budget">

  <div class="budget__header">
    <button tuiButton type="button" size="m" (click)="showDialog()">
      Добавить
    </button>
  </div>

  <div *ngIf="years.length !== 0">
    <div *ngFor="let year of years">
      <tui-accordion class="budget__container">
        <tui-accordion-item [open]="isCurrentYear(year.year)">
          <div class="budget__container_header">
            <div>{{ year.year }} год</div>

            <div>
              <b>потрачено за год:</b>
              тенге - {{ year.totalPriceYear }} &#8376;,
              рублей - {{ budgetService.convertToRub(year.totalPriceYear) }} &#8381;
            </div>
          </div>
          <ng-template tuiAccordionItemContent>
            <app-months-list [yearId]="year.id!" [months]="year.months">
            </app-months-list>
          </ng-template>

        </tui-accordion-item>
      </tui-accordion>
    </div>

  </div>
</div>
