::ng-deep.budget {

  &__container {
    margin-top: 10px;

    &_header {
      display: flex;
      justify-content: space-between;
    }
  }

  ._expanded {
    height: 87vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
  }
}
