.app {
  display: flex;

  &__menu {
    width: 80px;
  }

  &__outlet {
    width: 100%;
    padding: 20px;
  }
}


// phone
@media screen and (max-width: 767px) {
  .app {
    &__menu {
      width: 50px;
    }

    &__outlet {
      padding-right: 10px;
    }
  }
}
