.app_budget {
  padding: 0 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    &_right {
      display: flex;

      &-field {
        width: 200px;
        margin-right: 10px;
      }
    }

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.action {
  position: fixed;
  bottom: 0;
  right: 0;
}
