<tui-root>
  <div class="header">
    <button [routerLink]="['/list']" routerLinkActive="router-link-active"  tuiButton type="button" size="m">
      Список
    </button>
    <button [routerLink]="['/chart']" tuiButton type="button" size="m">
      Диаграма
    </button>
    <button tuiButton type="button" size="m" (click)="toggleShowPrice()">
      <span *ngIf="!sharedService.showPrice$.value">Показать цену</span>
      <span *ngIf="sharedService.showPrice$.value">Скрыть цену</span>
    </button>
  </div>
  <router-outlet></router-outlet>

</tui-root>
