<form class="add_product" [formGroup]="form">
  <div class="add_product__fields">
    <tui-input-number
      class="add_product__fields_item"
      decimal="never"
      formControlName="monthlyBudget">
      Введите сумму, расчитанную на месяц
    </tui-input-number>
  </div>

  <div class="add_product__btns">
    <div>
      <tui-loader
        class="loader"
        [showLoader]="isLoading"
        [inheritColor]="true"
        [overlay]="true">
        <button
          [disabled]="form.invalid"
          (click)="submit()"
          tuiButton
          type="button"
          appearance="accent"
          size="m">
          готово
        </button>
      </tui-loader>
    </div>
    <div>
      <button
        (click)="clear()"
        tuiButton
        type="button"
        appearance="outline"
        size="m">
        очистить
      </button>
    </div>
  </div>
</form>
