<form class="add_product" [formGroup]="form">
  <div class="add_product__fields">
    <tui-input class="add_product__fields_item" formControlName="name">
      Введите название продукта
      <tui-data-list-wrapper
        *tuiDataList
        [items]="getNamesPopular() | tuiFilterByInput"
        emptyContent="No results found"
        size="xs"></tui-data-list-wrapper>
    </tui-input>

    <tui-select class="add_product__fields_item" formControlName="category">
      Выберите категорию продукта
      <input tuiTextfield />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="sharedService.categories"></tui-data-list-wrapper>
    </tui-select>
  </div>

  <div class="add_product__fields">
    <tui-input-number
      class="add_product__fields_item"
      decimal="never"
      formControlName="priceRu">
      Цена в Рублях &#8381;
    </tui-input-number>
  </div>

  <div class="add_product__btns">
    <div [tuiHint]="tooltip" tuiHintAppearance="onDark" tuiHintDirection="left">
      <tui-loader
        class="loader"
        [showLoader]="(isLoading$ | async)!"
        [inheritColor]="true"
        [overlay]="true">
        <button
          [disabled]="form.invalid"
          (click)="submit()"
          tuiButton
          type="button"
          appearance="accent"
          size="m">
          готово
        </button>
      </tui-loader>

      <ng-template #tooltip>
        <span></span>
        Заполните все поля формы
      </ng-template>
    </div>
    <div>
      <button
        (click)="clear()"
        tuiButton
        type="button"
        appearance="outline"
        size="m">
        очистить
      </button>
    </div>
  </div>
</form>
