.add_product {

  &__checkbox {
    width: 100%;
    margin-bottom: 10px;

    &_tooltip {
      display: flex;
      justify-content: space-between;
    }
  }

  &__fields {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;

    &_item {
      width: 100%;
    }

    &_hint {
      display: flex;
      width: 330px;
      margin-left: 10px;
    }

  }

  &__btns {
    display: flex;

    button {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

::ng-deep [tuioption]:focus {
  background-color: red !important;
}

.hide {
  display: none;
}

