<div class="months" *ngFor="let month of months | slice:numberOfMonths">
  <tui-accordion class="months__container">
    <tui-accordion-item [open]="isCurrentMonth(month.month)">
      <div class="months__container_header">
        <div>{{ getMonthNameByIndex(month.month - 1) }} месяц</div>

        <div class="months__container_header-right">

          <button tuiButton type="button" size="s" *ngIf="month.days.length > 2 && month.month === currentMonth">
            <span *ngIf="numberOfDays === -month.days.length" (click)="changeNumberOfDays($event, month)">Показать последние 2 дня</span>
            <span *ngIf="numberOfDays === -2" (click)="changeNumberOfDays($event, month)">Показать все дни</span>
          </button>

          <div>
            <b>потрачено за месяц:</b>
            тенге - {{ month.totalPriceMonth | isShowPrice }} &#8376;,
            рублей - {{ budgetService.convertToRub(month.totalPriceMonth) | isShowPrice }} &#8381;
          </div>
        </div>
      </div>
      <ng-template tuiAccordionItemContent>
        <app-days-list
          [yearName]="yearProps?.id"
          [year]="yearProps?.year"
          [monthProps]="month"
          [numberOfDays]="numberOfDays">
        </app-days-list>
      </ng-template>

    </tui-accordion-item>
  </tui-accordion>
</div>
