@for (month of months(); track month) {
  <div class="months">
    <tui-accordion class="months__container">
      <tui-accordion-item [open]="isCurrentMonth(month.month)">
        <div class="months__container_header">
          <div>{{ getMonthNameByIndex(month.month - 1) }} месяц</div>

          <div class="months__container_header-right">
            <div>
              <b>потрачено за месяц:</b>
              <span>
                рублей -
                {{ month.totalPriceMonth | number: '1.0-0' }}
                &#8381;
              </span>
            </div>
          </div>
        </div>
        <ng-template tuiAccordionItemContent>
          <app-days-list [yearName]="yearProps?.id" [year]="yearProps?.year" [monthProps]="month"> </app-days-list>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
}
