@if (budget()) {
  <div>
    @for (year of budget(); track year) {
      <div>
        <tui-accordion class="years">
          <tui-accordion-item [open]="isCurrentYear(year.year)">
            <div class="years__header">
              <div>{{ year.year }} год</div>

              <div class="years__header_right">
                <div>
                  <b>потрачено за год:</b>
                  <span>
                    рублей -
                    {{ year.totalPriceYear | number: '1.0-0' }}
                    &#8381;
                  </span>
                </div>
              </div>
            </div>

            <ng-template tuiAccordionItemContent>
              <app-months-list [yearProps]="year"></app-months-list>
            </ng-template>
          </tui-accordion-item>
        </tui-accordion>
      </div>
    }
  </div>
}
