<div *ngIf="budgets$ | async">

  <div *ngFor="let year of budgets$ | async">
    <tui-accordion class="years__container">
      <tui-accordion-item [open]="isCurrentYear(year.year)">
        <div class="years__container_header">
          <div>{{ year.year }} год</div>

          <div class="years__container_header-right">

            <div>
              <b>потрачено за год:</b>
              тенге - {{ year.totalPriceYear | isShowPrice }} &#8376;,
              рублей - {{ budgetService.convertToRub(year.totalPriceYear) | isShowPrice }} &#8381;
            </div>
          </div>
        </div>

        <ng-template tuiAccordionItemContent>
          <app-months-list [yearProps]="year"></app-months-list>
        </ng-template>

      </tui-accordion-item>
    </tui-accordion>
  </div>
</div>

<div *ngIf="isLoading$ | async">Loading.....</div>
