::ng-deep.years {

  &__container {
    margin-bottom: 10px;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-right {
        display: flex;
        align-items: center;

        button {
          margin-right: 10px;
        }
      }
    }
  }
}

::ng-deep._expanded {
  height: 85vh !important;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
