::ng-deep.years {

  &__container {
    margin-top: 10px;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-right {
        display: flex;
        align-items: center;

        button {
          margin-right: 10px;
        }
      }
    }
  }

  ._expanded {
    height: 87vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
  }
}
