<div class="days" *ngFor="let day of days | slice:-2">
  <tui-accordion class="days__container">
    <tui-accordion-item [open]="isCurrentDay(day.day)">
      <div class="days__container_header">
        <div>
          {{ getDayInfo(day.date).dayName }} {{ getDayInfo(day.date).dayNumber }} число
        </div>

        <div>
          <b>потрачено за день:</b>
          тенге - {{ day.totalPriceDay }} &#8376;,
          рублей - {{ budgetService.convertToRub(day.totalPriceDay) }} &#8381;
        </div>
      </div>

      <ng-template tuiAccordionItemContent>
        <table class="table" tuiTable [columns]="columns">
          <thead>
            <tr tuiThGroup>
              <th *tuiHead="'name'" tuiTh [resizable]="true" [sorter]="null">
                Наименование
              </th>
              <th *tuiHead="'category'" tuiTh [sticky]="true" [sorter]="null">
                Категория
              </th>
              <th *tuiHead="'priceT'" tuiTh [sticky]="true" [sorter]="null">
                Цена в Тенге
              </th>
              <th *tuiHead="'priceRu'" tuiTh [sorter]="null">
                Цена в Рублях
              </th>
              <th *tuiHead="'other'" tuiTh [sorter]="null">
              </th>
            </tr>
          </thead>

          <tbody tuiTbody [data]="day.items">
            <tr *ngFor="let item of day.items; index as i" tuiTr>
              <td *tuiCell="'name'" tuiTd>
                {{ item.name }}
              </td>
              <td *tuiCell="'category'" tuiTd>
                {{ item.category }}
              </td>
              <td *tuiCell="'priceT'" tuiTd>
                {{ item.priceT }} &#8376;
              </td>
              <td *tuiCell="'priceRu'" tuiTd>
                {{ item.priceRu }} &#8381;
              </td>
              <td *tuiCell="'other'" tuiTd>

                <button
                  tuiIconButton
                  type="button"
                  icon="tuiIconTrash2Large"
                  (click)="showDialog()"
                ></button>

                <ng-template #template [(tuiDialog)]="open"   size="l">
                  <div class="dialog">
                    <p>Вы действительно хотите удалить ?</p>

                    <div class="dialog__btns">
                      <button tuiButton type="button" appearance="outline" size="m" (click)="close()">
                        Нет
                      </button>
                      <button tuiButton type="button" appearance="accent" size="m" (click)="deleteItem(yearId!, monthId!, day.id!, item.id!)">
                        Да
                      </button>
                    </div>
                  </div>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</div>
