@for (day of days(); track day) {
  <div>
    <tui-accordion class="days">
      <tui-accordion-item [open]="isCurrentDay(day.day)">
        <div class="days__header">
          <div>
            {{ getDayInfo(day.date).dayName }}
            {{ getDayInfo(day.date).dayNumber }} число
          </div>

          <div>
            <b>потрачено за день:</b>
            <span>
              рублей -
              {{ day.totalPriceDay | number: '1.0-0' }}
              &#8381;
            </span>
          </div>
        </div>

        <ng-template tuiAccordionItemContent>
          <div class="days__accordion">
            @for (item of day?.items; track item) {
              <tui-accordion class="days__accordion_item">
                <tui-accordion-item>
                  <div>
                    {{ item.name }}
                  </div>

                  <ng-template tuiAccordionItemContent>
                    <div class="days__accordion_item-content">
                      <div>Наименование: {{ item.name }}</div>
                      <div>Категория: {{ item.category }}</div>
                      <div>
                        Цена в Рублях:
                        {{ item.priceRu | number: '1.0-0' }} &#8381;
                      </div>

                      <div>
                        <button (click)="openDialogDelete(item)" type="button">Удалить</button>
                      </div>
                    </div>
                  </ng-template>
                </tui-accordion-item>
              </tui-accordion>
            }
          </div>

          <div class="days__table">
            <table [columns]="columns" tuiTable>
              <thead>
                <tr tuiThGroup>
                  <th *tuiHead="'name'" [resizable]="true" [sticky]="true" [sorter]="null" tuiTh>Наименование</th>
                  <th *tuiHead="'category'" [sticky]="true" [sorter]="null" tuiTh>Категория</th>
                  <th *tuiHead="'priceRu'" [sticky]="true" [sorter]="null" tuiTh>Цена в Рублях</th>
                  <th *tuiHead="'other'" [sticky]="true" [sorter]="null" tuiTh></th>
                </tr>
              </thead>

              <tbody [data]="day.items" tuiTbody>
                @for (item of day.items; track item; let i = $index) {
                  <tr tuiTr>
                    <td *tuiCell="'name'" tuiTd>
                      {{ item.name }}
                    </td>
                    <td *tuiCell="'category'" tuiTd>
                      {{ item.category }}
                    </td>
                    <td *tuiCell="'priceRu'" tuiTd>{{ item.priceRu | number: '1.0-0' }} &#8381;</td>
                    <td *tuiCell="'other'" tuiTd>
                      <button (click)="openDialogDelete(item)" type="button">Удалить</button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>

          <ng-template
            #template
            [(tuiDialog)]="open"
            [tuiDialogOptions]="{
              label: 'Вы действительно хотите удалить ?',
              size: 's',
            }">
            <div class="dialog">
              <div class="dialog__btns">
                <button (click)="closeDialogDelete()" tuiButton type="button" appearance="outline" size="m">Нет</button>

                <tui-loader class="loader" [showLoader]="loading()" [inheritColor]="true" [overlay]="true">
                  <button (click)="deleteItem(day.id!)" tuiButton type="button" appearance="accent" size="m">Да</button>
                </tui-loader>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
}
