.table {
  width: 100%;

  th:last-child {
    width: 150px;
  }

  td:last-child {

    button:first-child {
      margin-right: 10px;
    }
  }
}

::ng-deep.days {

  &__container {
    margin-bottom: 10px;

    &_header {
      display: flex;
      justify-content: space-between;
    }
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btns {
    margin-top: 20px;

    button {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
