/* You can add global styles to this file, and also import other style files */
@use '@taiga-ui/core/styles/taiga-ui-local.scss';

// other styles

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
