::ng-deep.months {

  &__container {
    margin-bottom: 10px;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;

      &-right {
        display: flex;
        align-items: center;

        button {
          margin-right: 10px;
        }
      }
    }
  }

  // ._expanded {
  //   height: 71vh !important;
  //   overflow-x: hidden;
  //   overflow-y: scroll;
  // }
}

// phone
@media screen and (max-width: 767px) {
  .months__container_header {
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
  }
}
